# =========================
# Python
# =========================
__pycache__/
*.pyc

# Virtual Environment
server/venv/

# Environment Variables
server/.env

# VS Code
.vscode/

# Node
node_modules/
client/node_modules/

# Logs
*.log

# Build
dist/
build/
# Python
__pycache__/
*.py[cod]

# Environment
.env
server/.env

# Virtual Environment
venv/

# Node
node_modules/