*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family: "Poppins", sans-serif;

    background:#F8FAFC;

    color:#1E293B;

    overflow-x:hidden;
}

a{
    text-decoration:none;
    color:inherit;
}

button{

    cursor:pointer;

    border:none;

    outline:none;

    font-family:inherit;
}

input{

    font-family:inherit;

    outline:none;

}