.auth-container{
    display:flex;
    min-height:100vh;
}

.auth-left{
    flex:1;
    background:#0F4C81;
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:60px;
}

.brand h1{
    font-size:58px;
    font-weight:700;
}

.brand h3{
    margin-top:12px;
    font-size:22px;
    font-weight:500;
}

.brand p{
    margin-top:16px;
    font-size:17px;
    opacity:.9;
}

.auth-right{

    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#F8FAFC;

}

.login-card{

    width:420px;

    background:white;

    padding:40px;

    border-radius:18px;

    box-shadow:0 20px 60px rgba(0,0,0,.08);

} .input-group{
    display:flex;
    flex-direction:column;
    gap:8px;
    margin-top:22px;
}

.input-group label{
    font-size:15px;
    font-weight:600;
    color:#334155;
}

.input-group input{

    height:52px;

    border:1px solid #CBD5E1;

    border-radius:12px;

    padding:0 16px;

    font-size:15px;

    transition:.3s;

    background:white;

}

.input-group input:focus{

    border-color:#0F4C81;

    box-shadow:0 0 0 4px rgba(15,76,129,.12);

}/* =========================
   Login Card Text
========================= */

.login-card h2{
    font-size:38px;
    color:#0F172A;
    margin-bottom:12px;
}

.login-card p{
    color:#64748B;
    line-height:1.6;
    margin-bottom:30px;
}

/* =========================
   Input Field
========================= */

.input-group{
    display:flex;
    flex-direction:column;
    margin-bottom:20px;
}

.input-group label{
    font-size:15px;
    font-weight:600;
    color:#334155;
    margin-bottom:8px;
}

.input-group input{
    width:100%;
    height:52px;
    border:1px solid #CBD5E1;
    border-radius:12px;
    padding:0 16px;
    font-size:15px;
    transition:0.3s;
    background:#FFFFFF;
}

.input-group input:focus{
    border-color:#0F4C81;
    box-shadow:0 0 0 4px rgba(15,76,129,0.12);
}

/* =========================
   Button
========================= */

.primary-btn{
    width:100%;
    height:54px;
    margin-top:10px;
    background:#0F4C81;
    color:white;
    border:none;
    border-radius:12px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

.primary-btn:hover{
    background:#0C3E69;
}